@import "tailwindcss";

:root {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;

    color: oklch(0.929 0.013 252.508);

    --animation-time: 25ms;
    --background: oklch(0.2309 0.006 271.15);
    --foreground: oklch(0.984 0.003 247.858);
    --card: oklch(0.208 0.042 265.755);
    --card-foreground: oklch(0.984 0.003 247.858);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(0.984 0.003 247.858);
    --primary: oklch(0.929 0.013 252.508);
    --primary-foreground: oklch(0.208 0.042 265.755);
    --secondary: oklch(0.279 0.041 260.031);
    --secondary-foreground: oklch(0.984 0.003 247.858);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(0.984 0.003 247.858);
    --animated-accent: oklch(0.769 0.188 100.08);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.551 0.027 264.364);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.208 0.042 265.755);
    --sidebar-foreground: oklch(0.984 0.003 247.858);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.279 0.041 260.031);
    --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.551 0.027 264.364);
    --page-screen-size: calc(100% - 20rem);
}

@theme inline {
    /*--radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);*/
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --screen-sidebar: var(--page-screen-size);
}

body {
    width: 100dvw;
    overflow-x: hidden;
    background: var(--background);

    font-family: Helvetica, sans-serif;
    color: var(--foreground);
}

/*.mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}*/
.mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@utility clip-path {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.span-before {
    @apply before:absolute before:content-[data-char] before:text-primary before:transition-all before:delay-300 before:translate-y-0;
}
.span-after {
    @apply after:absolute after:content-[data-char] after:text-primary after:transition-all after:delay-300 after:translate-y-4;
}

.about-subtext {
    @apply absolute bottom-[-80dvh] left-1/2 w-full max-w-96 -translate-x-1/2 text-center text-lg md:max-w-[34rem];
}

.about-image {
    @apply absolute left-1/2 top-0 z-20 h-[60vh] w-96 origin-center -translate-x-1/2 overflow-hidden rounded-3xl md:w-[30vw];
}

.about-image-out {
    @apply absolute left-1/2 top-0 z-20 h-screen origin-center -translate-x-1/2 overflow-hidden w-screen;
}

.animated-title {
    @apply flex flex-col gap-1 text-7xl uppercase leading-[.8] text-primary sm:px-32 md:text-[6rem];
}

.animated-word {
    @apply font-black opacity-0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px !important;
    will-change: opacity, transform;
}

.story-img-container {
    @apply relative md:h-dvh h-[90vh] w-full;
    filter: url("#flt_tag");
}

.story-img-mask {
    @apply absolute left-0 top-0 size-full overflow-hidden md:left-[20%] md:top-[-10%] md:size-4/5;
    clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
}

.story-img-content {
    @apply absolute w-full md:h-dvh h-[50dvh] opacity-100 left-10 top-16 md:left-0 md:top-10 lg:left-[-300px] lg:top-[-100px];
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
}

.gallery-img-container {
    @apply size-64 overflow-hidden bg-violet-300;
}

.gallery-img {
    @apply size-full bg-cover;
}

.gallery-img-4 {
    @apply sm:size-80 md:h-96 md:w-[25rem] rounded-lg;
}

.sword-man-clip-path {
    clip-path: polygon(16% 0, 89% 15%, 75% 100%, 0 97%);
}

.contact-clip-path-1 {
    clip-path: polygon(25% 0%, 74% 0, 69% 64%, 34% 73%);
}

.contact-clip-path-2 {
    clip-path: polygon(29% 15%, 85% 30%, 50% 100%, 10% 64%);
}

.indicator-line {
    @apply h-1 w-px rounded-full bg-primary transition-all duration-200 ease-in-out;
}

.indicator-line.active {
    animation: indicator-line 0.5s ease infinite;
    animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
    0% {
        height: 4px;
        transform: translateY(-0px);
    }
    50% {
        height: 16px;
        transform: translateY(-4px);
    }
    100% {
        height: 4px;
        transform: translateY(-0px);
    }
}

a.norris {
    text-decoration: none;
    font-size: var(--animated-font-size);
    overflow: hidden;
    line-height: var(--animated-font-size);
}
a.norris span {
    position: relative;
    color: transparent;
}
a.norris span::before,
a.norris span::after {
    position: absolute;
    left: 0;
    content: attr(data-char);
    color: var(--color-primary);
    transition: all ease-in-out calc(var(--animation-time) * 10);
    transition-delay: calc(var(--index) * var(--animation-time));
}
a.norris span::before {
    transform: translateY(0);
}
a.norris span::after {
    transform: translateY(var(--animated-font-size));
}
a.norris:hover {
    cursor: pointer;
    color: var(--animated-accent);
}
a.norris:hover span::before,
a.norris:hover span::after {
    color: var(--animated-accent);
}
a.norris:hover span::before {
    opacity: 1;
}
a.norris:hover span::after {
    opacity: 0;
}

a.norris:hover span::before {
    transform: translateY(calc(-1 * var(--animated-font-size)));
    opacity: 0;
}
a.norris:hover span::after {
    transform: translateY(0);
    opacity: 1;
}
